.btn {
  color: #42b983;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 40px;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
  cursor: pointer;
}
.btn1 {
  margin-top: 20px;
}
.btn:hover {
  background-color: #42b983;
  color: white;
}

.placeholder-box input {
	display: block;
	box-sizing: border-box;
	height: 70px;
	line-height: 35px;
	padding: 0 10px;
	font-size: 18px;
	font-weight: 400;
	color: #495057;
	background-color: #fff;
	border: 3px solid #ced4da;
	border-radius: 10px;
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}

.txt{
	font-size: 20px;
  text-align: justify;
  font-family: arial;
  margin-left: 40px;
  margin-right: 40px;
}

.txt1{
  margin-top: 20px;
  margin-bottom: 20px;;
}

.input__block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.input__gal {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items: center;
}

.image-gallery__wrapper {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.image-gallery__container {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}

.image-gallery__item {
  width: 300px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.image-gallery__item--large {
  display: block;
  width: 615px; 
}

.heart {
  color: #42b983;
  font-size: 20px;
  position: relative;
  place-content: center;
  place-items: center;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 40px;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  transition: all 0.22s;
  cursor: pointer;
}

.heart1 {
  margin-top: 20px;
}

.heart:hover {
  background-color: #42b983;
  color: white;
}

.likes-number {
  margin-left: 24px;
  line-height: 14px;
}