@mixin reset {
  margin: 0;
  padding: 0;
};

@mixin panel($to) {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 80px;
  justify-content: space-evenly;
  background: linear-gradient($to, rgb(255, 255, 255), rgb(242, 242, 242));
};

@mixin input {
  border: solid rgb(240, 240, 240) 1px;
  border-radius: 5px;
  height: 35px;
  padding: 0 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  &:focus {
    outline: 0;
  }
};

@mixin background_popup {
  position: fixed;
  background-color: rgba(49, 49, 49, 0.65);
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 2;  
};

@mixin flex-between-center-g15 {
  display: flex;
  align-items: center;
  gap: 15px;
};

@mixin link-reset {
  text-decoration: none;
  color: #777777;
};

@mixin grid-g20 {
  display: grid;
  gap: 20px;
  text-align: center;
};