body {
  margin: 0;
}
h1 {
  font-weight: 400;
  font-size: 2em;
  margin-top: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color: #1d3452;
}

h2 {
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 0;
  font-family: 'Roboto', Arial, sans-serif;
  color:#1d3452;
}

#app {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  user-select: none;
}
.dp__input {
  border: solid #ddd 1px;
  font-family: "Roboto", Arial, sans-serif;
  border-radius: 4px;
  height: 35px;
  &::placeholder {
    font-weight: 300;
  }
  &:hover {
    border: solid rgb(172, 172, 172) 1px;
  }
}
.dp__disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgb(120, 120, 120);
  font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');